/************************* INDEX *****************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

li {
  display: block;
  float: left;
  font-size: 1rem;
  letter-spacing: .07692308em;
  line-height: 17px;
  margin-left: 15px;
}

nav a {
  color: rgb(60, 60, 60);
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(0, 0, 0);
}


/**** NAVBAR ****/
nav {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  font-size: calc(0.25rem + 1.25vw);
  box-shadow: 0 5px 1000px hsla(0, 0%, 0%, 0.25);
}

nav ul {
  display: block;
  text-align: right;
  margin-right: 1%;
}
#icons {
    cursor: pointer;
    display: none;
}

#nav {
    margin-bottom: 100px; 
}

.logocinemut{
    display: inline-block;
    padding: 1%;
    width: 12.5%;
    height: 12.5%;
}
.navitem {
  display:block;
}

.slide-container {
  padding: 2rem;
  width: 100%;
  margin-top: 10%;
}


@media (max-width: 1000px) {
    #icons {
      display: block;
    }
    #icons:before {
        content: "\2630";
      }
    .active #icons:before {
        content: "\2715";
      }
      .logocinemut{
        width: 20%;
        height: 20%;
    }
      nav{
        padding: 10px;
      }
      nav ul {
        position: fixed;
        left: -100%;
        top: 6%;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
    display: block;
    width: 100%;
  }
  nav li:hover {
    background: rgb(200, 200, 200);
  }
  nav.active ul {
    left: 0;
  }
  .wrapper{
    margin-top: 30%;
  }
  .slide-container {
    margin-top: 30%;
}
}

@media (max-width: 555px) {
  nav ul {
    top: 5%;
  }
}

@media (max-width: 425px) {
  nav ul {
    top: 4%;
  }
}

@media (max-width: 280px) {
  nav ul {
    top: 2.5%;
  }
}




.slider-wrapper {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #fff;
    opacity: 25%;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

/************************* ARCHIVE *****************************/
#search-bar{
    float: left;
  }
  
  .viewbox {
    float: right; 
    }
  .clearfix {
      clear: both;
  }
  .view {
    display:inline-block;
  }
  
  /*listmodel*/
  .lst {
    border-top: 1px solid black;
      border-bottom: 1px solid #d1d1e0;
    padding: 15px;
  }

  section2 {
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: transparent;
    width: 100%;
    margin-top: 10%;
  }

  .wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(60, 60, 60, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(60, 60, 60);
    border-radius: 10px;
    padding: 30px 40px;
  }

  .wrapper h1{
    font-size: 36px;
    text-emphasis: center;
  }

  .wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }

  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(60, 60, 60, .2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(60, 60, 60);
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder{
    color: rgb(60, 60, 60);
  }

  .wrapper .remember-forgot{
    display: -webkit-flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .remember-forgot label input{
    accent-color: rgb(60, 60, 60);
    margin-right: 3px;
  }

  .remember-forgot a{
    color: rgb(60, 60, 60);
    text-decoration: none;
  }

  .remember-forgot a:hover{
    text-decoration: underline;
  }

  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: 2px;
    border-color: rgb(60, 60, 60);
    outline: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: 600;
  }

  .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
  }

  .register-link p a{
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-weight: 600;
  }

  .register-link p a:hover{
    text-decoration: underline;
  }


h5 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(60, 60, 60);
    margin-top: 100px;
}

.cycles{
width: 100%;
margin-top: 10%;
}

.cycle-container {
    margin-bottom: 30px;
  }
  
  .cycle-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
 
  .movie-container {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .movie {
    display: inline-block;
    width: 12%; 
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%; 
    box-sizing: border-box;
    text-align: center;
}

.movie-container a h2, .movie-container a p {
    color: rgb(60, 60, 60);
    text-decoration: none;
  }

  .movie-container a:hover h2{
    text-decoration: underline;
  }
  
  .movie img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: box-shadow 0.3s ease;
  }
  
  .movie h2, .movie p {
    margin: 0;
    font-size: 14px;
  }

  .movie-container a:hover img{
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
  }
  

  @media (max-width: 1000px) {
    .movie {
      width: 30%; 
    }
  }
  
  .cycle-title {
    text-align: center;
    margin-bottom: 20px;
  }